.event-integration {
  .input-wrap{
    position relative
    .lock-icon {
      cursor pointer
      position absolute
      bottom 10px
      color black
      font-size 18px
      right 10px
    }
  }
  .integration-route{
    margin-top 25px
    margin-bottom 100px
  }
  .integration-form{
    padding-left 30px
  }
}
