.event-new-route {
  .event-new{
    .page-form{
      padding-top 0 !important
    }
  }
  .header
  .body {
    padding 0
    padding-left 30px
  }
  .header {
    background-color white
    padding-top 20px
    padding-bottom 20px
    .navigate-to-list {
      color #7dbc36
      cursor pointer
      font-size sm - 0.3rem
      &:hover {
        color lighten(#7dbc36, 30%)
      }
    }
    .title{
      color #4d4d4d
      font-size sm + 0.2rem
      font-weight bold
    }
  }
  .body {
    padding-bottom 50px
    margin-top 25px
    .left-panel {
      display inline-block
      width 49%
      vertical-align top
      .venue-form-section {
        margin-top 30px
        .p1 {
          width 49%
          vertical-align top
          display inline-block
        }
        .p2 {
          width 49%
          display inline-block
          vertical-align top
          margin-left 2%
        }
      }
      .del-wrap{
        cursor pointer
        display inline-block
        font-size sm - 0.1rem
        span{
          color #7dbc36
        }
        i{
          color black
        }
      }
    }
    .right-panel {
      display inline-block
      width 47%
      margin-left 4%
      vertical-align top
      padding-top 30px
    }
  }
}

