.app-pagination{
  color #7dbc36

  font-size sm - 0.2rem
  .app-page-link{
    margin 0 12px
    .page-count{
      margin 0 6px
      cursor pointer
      &.active{
        color black
        text-decoration underline
        font-weight bold
      }
      &:hover{
        color #2364c2
      }
    }
  }
  .navigate{
    cursor pointer
    &:hover{
      color #2364c2
    }
  }
}
