.event-edit-route{
  .header{
    .status-wrap{
      padding 20px 25px
      background-color white
    }

    .navigate-to-list {
      color #7dbc36
      cursor pointer
      font-size sm - 0.3rem
      &:hover {
        color lighten(#7dbc36, 30%)
      }
    }
  }
}
