.discount-type-edit{
  border 1px solid #e2e0e0
  border-radius 4px

  background-color white
  color #666
  padding 7px 14px
  .form-label{
    font-size 1.8rem
  }
  .inline-input{
    width 60px
    margin 0 6px
    vertical-align middle
    display inline-block
    .input-wrap{
      margin 0
    }
  }
  .inline-select{
    width 100px
    display inline-block
    margin 0 6px
    vertical-align middle
  }
  .form-body{
    font-size 1.6rem
    margin-top 12px


  }
}
