.venue-edit-map{
  .edit-map-header{
      background-color transparent
      color #4d4d4d
      text-align left
      font-size 1.8rem
      font-weight: bold
      i{
        margin-left 10px
        cursor pointer
      }
  }
  .body{
    padding 0 !important
    .drop-zone-wrapper{
      width 100%
      position relative
      i{
        position absolute
        top 10px
        right 10px
        color black
        font-size sm + 0.2rem
        cursor pointer
      }
    }
  }

}
.upload-placeholder{
  p{
    &:nth-of-type(1){
      font-weight bold
      color #505050
      font-size sm + 0.2rem

    }
    &:nth-of-type(2){
      color #505050
      font-size sm - 0.2rem

    }
    &:nth-of-type(3){
      font-weight bold
      margin-top 6px
      color #7dbc36
      font-size sm

    }
  }
}
