.discount-edit-route {
  .header {
    .status-wrap {
      padding 20px 25px
      background-color white
      .logo-wrapper{
        display inline-block
        width 75%
      }
      .navigate-to-list {
        color #7dbc36
        cursor pointer
        font-size sm - 0.3rem
        &:hover {
          color lighten(#7dbc36, 30%)
        }
      }
      .actions{
        width 25%
        display inline-block
        .download-section{

          display: flex;
          margin-left: -18px;

          input {
            flex: 1 0 30%;
            border: 1px solid #E6E6E6;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            width: 30%;

            padding: 18px;
            font-size: 20px;
          }

          button {
            flex: 2 0 70%;
            font-size: 20px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color rgba(140,198,63,.7)
            color #15232e
          }
        }
      }
    }
  }
}
