.date-picker-modal{
  position relative
  width 600px
  margin auto
  margin-top 170px
  background-color white
  border 1px solid grey
  border-radius 5px
  .modal-header{
    padding 27px 20px 7px 24px
    border-bottom 1px solid grey
    color #686868
    font-size lg
    font-weight 550
  }
  .modal-body{
    padding 30px 30px 45px 26px
    color #4d4d4d
    font-size sm - 0.1rem
    border-bottom 1px solid grey
    .dpi-wrap{
      width 50%
      display inline-block
    }
  }
  .modal-footer{
    padding 25px 30px
    display flex
    justify-content flex-end
    .modal-btn{
      &.confirm-btn{
        background-color #2364c2
        color white
        font-size sm + 0.1rem
        text-align center
        padding 15px 36px
        border-radius 3px
      }
      &.cancel-btn{
        background-color white
        border 1px solid grey
        color #686868
        font-size sm + 0.1rem
        text-align center
        padding 15px 36px
        border-radius 3px
      }
    }
  }
}
