.discount-edit-form{
  margin-bottom 100px
  padding-left 30px
  .discount-input{
    margin-bottom 40px
    input{
      padding 5px 14px
    }
  }
  .discount-type-edit{
    margin-top 8px
  }
  .date-range{
    margin-top 15px

    .date-wrapper{
      .discount-date-input{
        width 50%
        display inline-block
        .date-input{
          width 300px
        }
      }
    }
  }
  .form-radio{
    margin-top 10px
    .generic-code-status{
      margin-top 8px
      font-size 12px
      .success{
        color #8cc63f
      }
      .error{
        color danger
      }
    }
  }
  .multiple-code{
    .submit-btn{
      font-size 12px
      padding 7px 15px
      margin 8px 0
    }
  }
  .delete-discount {
    color: #f00 !important;
    font-size 14px
    cursor pointer
  }
}
