.discount-edit-form{
  margin-bottom 100px
  padding-left 30px
  .discount-input{
    margin-bottom 40px
    input{
      padding 5px 14px
    }
  }
  .discount-type-edit{
    margin-top 8px
  }
  .date-range{
    margin-top 15px

    .date-wrapper{
      .discount-date-input{
        width 50%
        display inline-block
        .date-input{
          width 300px
        }
      }
    }
  }

}
