
.discount-edit-details-route{
  margin-top 25px
  margin-bottom 100px
  .page-form{
    padding-top 10px
  }
  .details-form{
    padding-left 30px
    .description{
      textarea{
        height 60px
        width 100%
        padding 10px 15px
        font-size 15px
        outline none
        border-radius 3px
      }

    }
    .event-form-section{
      margin-bottom 40px
      input{
        padding 5px 14px
      }

    }
    .event-date-wrap{
      width 300px
      .input-date{
        .date-picker-toggle{
          padding-left 10px
          padding-right 10px
          color black
        }
      }
    }
    .event-time{
      margin-top 40px
      .title{
        color #4d4d4d
        font-weight bold
        font-size 1.8rem
        margin-bottom 10px
      }
      .et-wrap{
        margin-bottom 15px
        span{
          padding-left 15px
          color #1a1a1a
          vertical-align top
          font-size 15px
        }
      }
    }
  }
}
