.discount-outings-table {
  .dg-table{
    .group-promote {
      width 100px;
    }

    .col-checkbox {
      position: relative;
      width: 100px;

      .checkbox {
        position: absolute;
        right: 10px;
      }
    }

    .col-name {
      font-weight: bold;
    }

    .group-url {
      .material-icons {
        font-size: 13px;
      }
    }

    .table-wrapper {
      clear: both;

    }
  }

}
