.common-input{
  .input-label{
    color #4d4d4d
    font-weight bold
    font-size sm + 0.2rem
  }
  .input-wrap{
    margin-top 8px
    input{
      width 100%
      border 1px solid grey
      border-radius 4px
      font-size sm
      padding 6px 10px
      outline none
      white-space nowrap
    }
  }

}
