.venue-map{
  .upload-zone{
    position relative
    color #1a1a1a
    .sw-icon{
      position absolute
      top 15px
      right 15px
      z-index 2
      font-size 20px
    }
    .upload-placeholder{
      text-align center
      font-size 17px
    }
  }
  .upload-btn{
    font-size 15px
    color white
    padding 7px 15px
  }
  .img-contain{
    border 3px solid white
    border-radius 5px
    position relative
    overflow hidden
    height 400px
    img{
      width 100%
      position absolute
      top 50%
      transform translateY(-50%)
    }
  }
  .left-panel{
    padding 0
    padding-right 15px !important
  }
  .right-panel{
    padding 0
  }
}
