.label-checkbox {
  display: inline;
  cursor: pointer;
  position: relative;
  margin-left: 30px;

  &.disabled {
    cursor: not-allowed;
  }

  .checkbox {
    position: absolute;
    top: 0;
    left: -30px;
  }

  .label {
    font-size: 14px;
    color: #666666;
    vertical-align middle
  }

}
